body{
    margin: 0px;
    padding: 0px;
}

:root{
    --primary-color: #FFFFFF;
    --secondary-color : #262525;
    }

    
.light-mode{
    background-color: var(--primary-color);
    color: var(--secondary-color);
} 
.dark-mode{
    color: var(--primary-color);
    background: var(--secondary-color);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    
}
/* light mode nav bar */
.light-dark-nav{
background-color: var(--secondary-color);
height: 20%;
overflow-x: hidden;
display:flex;
box-shadow: 0 8px 25px var(--secondary-color);

.nav-left{
    /* background-color: red; */
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
    color: var(--primary-color);
}
.nav-right{
    /* background-color: blue; */
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
    
}
h3{
    font-style: italic;
    font-size: 15px;
    font-weight: 200;
}




/* toggle-button */
#theme-toggle-button {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3em;
  cursor: pointer;
  padding-top: 5px;
   
}


#toggle {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}
